.btn-add {
  width: 100%;
  background-color: $c-color2;
  cursor: pointer;
  transition: 400ms background-color ease;
  -o-transition: 400ms background-color ease;
  -moz-transition: 400ms background-color ease;
  -webkit-transition: 400ms background-color ease;
  &:hover {
    background-color: $c-color1;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem $c-color1;
  }
}

.icon {
  font-size: 18px;
  cursor: pointer;
}
