/* Colors */
$primary: rgb(73, 70, 218);
$secondary: rgb(87, 179, 255);
$c-color0: #ccc;
$c-color1: #c1c1c1;
$c-color2: #f2f2f2;

$black: #000;
$white: #fff;

/* Fonts */
$font-family-base: 'Roboto' sans-seif;
